<h2 class="header">Partidos en Vivo</h2>
<div class="col s12 m6">   
    <ul class="collection">
    <li class="collection-item">
      <div class="match">
        <div class="match-header">
          <div class="logo-name-1">
            Manchester City
          </div>
          <div class="logo-name-2">
            Liverpool
          </div>
        </div>
        <div class="match-info">
          <div class="home-team">
            <img src="./assets/img/mancity.png" alt="">
          </div>
          <div class="game-info">
            <h3>3 - 0</h3>
            <p>medio tiempo</p>
          </div>
          <div class="away-team">
            <img src="./assets/img/liver.png" alt="">
          </div>
        </div>
      </div>
    </li>
</div>
