 <ul class="links">
    <li class="first"><a class="pt-playable" href="http://live.talksport.com/channel1m-es" type="audio/mpeg">MAN  0 - 0  LIV</a></li>
        <li><a href="audio/4048__realrhodessounds__ambientloop83bpm.mp3">Ambient Loop 83 BPM - BPM RealRhodesSounds</a></li>
    <li><a href="audio/118935__dobroide__20110423-night-chorus_0.mp3" title="Night Chorus of birds...">Night Chorus - dobroide</a></li>  

</ul>
<div class="pt-controls-wrapper">
    <div class="pt-controls pt-hide">
        <a id="myAudio" class="pt-play-pause" title="Play/Pause">
            <span class="play-btn"><i class="material-icons" >play_circle_outline</i></span>
            <span class="pause-btn"><i class="material-icons" >pause_circle_outline</i></span>
        </a>
        <a class="pt-next" href="#" title="Next"> <i class="fa fa-step-forward"></i></a>
        <a class="pt-previous" href="#" title="Previous"> <i class="fa fa-step-backward"></i> </a>
        <span class="pt-current-track-title">
            0 MANU - LIV 0
         </span>
        <div class="pt-scrubber">
            <div class="pt-statusbar">
                <div class="pt-loading"></div>
                <div class="pt-position">
                    <div class="pt-handle"></div>
                </div>
            </div>
        </div>
        <div class="pt-time">
            <span class="pt-current-time">--:--</span> / <span class="pt-duration">--:--</span>
        </div>
    </div>
</div>
