<div class="card">
            <div class="card-image">
              <img src="assets/img/leicester-win.jpg">
              <span class="card-title">El fugaz campeonato de Leicester está presente en Champions League</span>
            </div>
            <div class="card-content">
              <p>El día de hoy, el actual campeón de Premier League, el Leicester ha ganado su tercer juego consecutivo dentro de la Champions League y ha concretado un debut de ensueño.</p>

              <p>Luego de ganarle tres goles a cero al Club Brujas de Bélgica, dominar al Porto en su propio estadio y ganarle uno por cero a Copenhage dentro del King Power Stadium, al ser la primera vez que están en la máxima competencia de clubes europeos, con cinco goles a favor y ninguno en contra quieren repetir la historia y buscan revivir la esperanza de su ya famoso, conocido y sorpresivo título.</p>
            </div>
            
          </div>