/*
* @Author: manolocomi
* @Date:   2016-09-30 20:18:08
* @Last Modified by:   Manuel Comi
* @Last Modified time: 2016-10-11 00:49:42
*/
/* Font Family
================================================== */

@import url("http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400");


html {
  width:100%;
}
body {
  // font-family: "Yanone Kaffeesatz", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height:1.4em;
  /* With fixed position element, need to pass through width and height settings and adjust margin to allow for overlapping*/
  width:100%;
  margin-bottom:140px; /* Roughly the height of the controls*/
}
a {
  color:#0061b0;
  text-decoration:none;
}
@media only screen and (min-width: 601px){
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
      height: 105px;
      line-height: 105px;
  }
  nav {
      color: #fff;
      width: 100%;
      height: 105px;
      line-height: 105px;
  }
}

.collection .collection-item span.home .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.collection .collection-item span.away .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.match-header {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
}

.logo-name-1 {
    float: left;
    width: 50%;
    text-align: center;
}

.logo-name-2 {
    float: right;
    width: 50%;
    text-align: center;
}

.match-info {
    margin: 1em 0em;
}

.home-team {
    float: left;
    width: 27%;
}

.home-team img {
    max-width: 100%;
    float: right;
}

.game-info {
    float: left;
    width: 45%;
    text-align: center;
}

.game-info h3 {
    font-size: 3em;
    color: #3b3e45;
    font-family: 'Droid Sans', sans-serif;
}

.game-info p {
    font-size: 1.2em;
    color: #656971;
    line-height: 1.5em;
    font-family: 'Droid Sans', sans-serif;
}

.away-team {
    float: right;
    width: 27%;
}

.away-team img {
    max-width: 100%;
}

.badge img {
  vertical-align: middle;
}
@media only screen and (max-width: 992px){
  nav .brand-logo{
      left: 5%;
      -webkit-transform: translateX(-5%);
      transform: translateX(-5%);
  }
  nav .brand-logo.center {
    right: 5%;
      -webkit-transform: translateX(-5%);
      transform: translateX(-5%);
  }
}

@media only screen and (max-width: 460px){
  .brand-logo img{
      max-width: 100px;
      height: auto;
      vertical-align: middle;
  }
  nav {
    height: 65px;
    line-height: 65px;
  }
}

nav {
    color: #fff;
    background-color: #ffeb60;
    width: 100%;
    
}

.pt-previous,
.pt-next {
  font-size:1.5em;
  float:right;
  margin-left:.5em;
}
.pt-play-pause {
  font-size: 3rem;
}

/* Hide/Show */
// .pause-btn,
// .pt-play-pause.pt-playing .play-btn {
//   display:none;
// } 

.pt-play-pause.pt-playing .pause-btn {
  display:inline-block;
}
.pause-btn {
  position:relative;
  left:-4px;
  top:-2px;
  letter-spacing:-.005em;
}
.pt-scrubber {
  margin-bottom: 0.5em;
  margin-top: 1em;
}
.pt-scrubber .pt-statusbar {
  height: 0.3em;
  position: relative;
  border-right:solid 1px #CCC;
  border-bottom:solid 1px #CCC;
  border-top:solid 1px #DCDCDC;
  border-left:solid 1px #DCDCDC;
  border-radius:1em;
  background:#F9F9F9;
}
.pt-scrubber.dragging .pt-statusbar {
  cursor: grabbing;
  cursor:-webkit-grabbing;
}
.pt-scrubber .pt-statusbar .pt-position,
.pt-scrubber .pt-statusbar .pt-loading {
  position: absolute;    
  height: 100%;
  left: 0;
  top: 0;
  border-radius:1em;
  width:0;
}
.pt-scrubber .pt-statusbar .pt-position {
  background-color: #666666;
  position:relative;
}
.pt-scrubber .pt-statusbar .pt-loading {
  background-color:#F1F1F1;
}
.pt-scrubber .pt-statusbar .pt-handle {
  position:absolute;
  width:.75em;
  height:.75em;
  right:-1em; /* Half of width */
  top:-.4em; /* Slightly less than half of height*/
  border-radius:50%;
  background:#FDFDFD;
  border:double 3px #AAA;
  transition:  all .1s;
  cursor: pointer;
}
.pt-time {
  float:right;
  font-size:.7em;
}
.pt-current-track-title {
  color:#DDD;
  font-size:1.7em;
  margin-top:-.5em;
}
.links {
  clear:both;
  margin:0;
  padding:0;
  list-style-type:none;
  font-size:1.1em;
}
.links a {
  display:block;
  padding:1em;
  border-bottom:solid 1px #EEE;
}
.links li.last a {
  border-bottom:none;
}
.links a:hover,
.links a.pt-playing, 
.links a.pt-paused {
  background:#FBFBEF;
}
.pt-link.pt-loading { opacity:.2;}
.pt-link.pt-playing { opacity: 1; font-weight:bold;}
.pt-link.pt-paused  { opacity:.5; font-weight:bold;}
.pt-link.pt-cue { color:red;}

/** Not sure if loading in Font Awesome icons this way will break in certain
  *  browsers, but going for it.
  *  See: http://fortawesome.github.io/Font-Awesome/cheatsheet
  */
.pt-link:before {
  font-family:FontAwesome;
  content: '\f04b ';
  padding-right:.3em;
  padding-left:.5em;
}
.pt-link.pt-playing:before {
  font-family:FontAwesome;
  content: '\f04c ';
  padding-right:.3em;
  padding-left:.5em;
}

.pt-controls-wrapper {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  padding:1% 2%;
  border-top:solid 1px #EEE;
  background:rgba(0,0,0,.9);
  color:#FFF;
}

.filler {
  line-height:1.7em;
}

.pt-play-pause.pt-buffering,
.pt-link.pt-buffering {
  -webkit-animation: buffering 1.4s infinite;
  animation:  buffering 1.4s infinite;
}

/* Utility class to hide elements if no links found on page load */
.pt-hide {
  display:none;
}

/* Buffering animation */

/* Buffering animation */
@-webkit-keyframes buffering {
     0%  { opacity: 1.0}
    10%  { opacity: .90}
    20%  { opacity: .80}
    30%  { opacity: .70}
    40%  { opacity: .60} 
    50%  { opacity: .50}
    60%  { opacity: .60}
    70%  { opacity: .70}
    80%  { opacity: .80}
    90%  { opacity: .90}
    100% { opacity: 1.0}
}

@keyframes buffering {
     0%  { opacity: 1.0}
    10%  { opacity: .90}
    20%  { opacity: .80}
    30%  { opacity: .70}
    40%  { opacity: .60} 
    50%  { opacity: .50}
    60%  { opacity: .60}
    70%  { opacity: .70}
    80%  { opacity: .80}
    90%  { opacity: .90}
    100% { opacity: 1.0}
}
.opta-widget-container .optafacts li {
  padding:8px 8px 8px 22px;
  color:#4f5155;
}
.alert-team {
  color:#ed1c24;
  font-weight:bold;
}
.goal {
  background-image:url(/img/goal.png);
  background-repeat:no-repeat;
  /*background-position:-5px -173px;*/
  display:inline-block;
  width:12px;
  height:12px;
  margin:0 0 0 10px;
  padding:0 10px;
  line-height:3;
  overflow:hidden;
}
.substitution-icon {
  background-image:url(/img/icon-substitution.png);
  background-repeat:no-repeat;
  /*background-position:-5px -368px;*/
  display:inline-block;
  width:12px;
  height:10px;
  margin:0 10px 0 10px;
  overflow:hidden;
}
.yellow-card {
  background-image:url(/img/yellow-card.png);
  background-repeat:no-repeat;
  /*background-position:-5px -64px;*/
  display:inline-block;
  width:11px;
  height:15px;
  margin:0 0 0 10px;
  padding:0 10px;
  line-height:3;
  overflow:hidden;
}
.red-card {
  background-image:url(/img/red-card.png);
  background-repeat:no-repeat;
  /*background-position:-5px -44px;*/
  display:inline-block;
  width:11px;
  height:15px;
  margin:0 0 0 10px;
  padding:0 10px;
  line-height:3;
  overflow:hidden;
}
/*.centrado{
  text-align: center;
}*/
